### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools  = school_data_complete["School ID"].value_counts().count()

#Calculate the total number of students
total_students = school_data_complete["Student ID"].count()

#Calculate the total budget
total_budget = school_data["budget"].sum()

#Calculate the average math score
avg_math_score = student_data["math_score"].mean()

#Calculate the average reading score
avg_read_score = student_data["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
pct_std_pass_math = (student_data.loc[student_data["math_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students with a passing reading score (70 or greater)
pct_std_pass_reading = (student_data.loc[student_data["reading_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = (student_data.loc[(student_data["math_score"] >= 70) & 
                                (student_data["reading_score"] >= 70)].count() / total_students)[1]

#Create a dataframe to hold the above results
ss_df = pd.DataFrame([{"Total Schools": total_schools,
                       "Total Students": total_students,           
                       "Total Budget": total_budget,
                       "Average Math Score":  avg_math_score,
                       "Average Reading Score":  avg_read_score,
                       "% Passing Math":  pct_std_pass_math * 100,
                       "% Passing Reading":  pct_std_pass_reading * 100,
                       "% Overall Passing":  overall_pass * 100}])

#Optional: give the displayed data cleaner formatting
ss_df["Total Students"] = ss_df["Total Students"].map("{:,}".format)
ss_df["Total Budget"] = ss_df["Total Budget"].map("${:.2f}".format)

#Display report
ss_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,65.172326


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:

school_data_complete_copy_df = school_data_complete[["school_name", "type","Student ID", "budget","math_score","reading_score"]].copy()

grouped_school_data = school_data_complete_copy_df.groupby(['school_name','type','budget'])

#district_series = grouped_school_data["type"]

results_df = pd.DataFrame(grouped_school_data["Student ID"].count())

#total_school_budget = grouped_school_data["budget"].sum()




type(results_df)



#school_name_df  = pd.DataFrame(grouped_school_data["school_name"])
#school_type_df  = pd.DataFrame(grouped_school_data["type"])
#student_id_df   = pd.DataFrame(grouped_school_data["Student ID"].count())


#results_df = pd.concat([school_name_df,school_type_df,student_id_df], axis='columns', sort=False)
                               
#results_df    
                               
                               
#results_df.append(pd.DataFrame(grouped_school_data["Student ID"].count()))



results_df.rename(columns={'type': 'School Type'}, inplace=True)
results_df.rename(columns={'Student ID': 'Total Students'}, inplace=True)



results_df


#group_school_data_complete_copy_df = school_data_copy_df.groupby(['school_name'])


#results_df = pd.DataFrame(group_school_data_complete_copy_df["Student ID"].count())


#results_df.head()
#group_school_data_complete_copy_df["budget"].sum()

                                        Total Students
school_name           type     budget
Bailey High School    District 3124928            4976
Cabrera High School   Charter  1081356            1858
Figueroa High School  District 1884411            2949
Ford High School      District 1763916            2739
Griffin High School   Charter  917500             1468
Hernandez High School District 3022020            4635
Holden High School    Charter  248087              427
Huang High School     District 1910635            2917
Johnson High School   District 3094650            4761
Pena High School      Charter  585858              962
Rodriguez High School District 2547363            3999
Shelton High School   Charter  1056600            1761
Thomas High School    Charter  1043130            1635
Wilson High School    Charter  1319574            2283
Wright High School    Charter  1049400            1800

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type