### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#type(merged_school_data_df)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [71]:
#Calculate the total number of schools
total_schools  = merged_school_data_df["School ID"].value_counts().count()

#Calculate the total number of students
total_students = merged_school_data_df["Student ID"].count()

#Calculate the total budget
total_budget = school_data["budget"].sum()

#Calculate the average math score
avg_math_score = student_data["math_score"].mean()

#Calculate the average reading score
avg_read_score = student_data["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
pct_std_pass_math = (student_data.loc[student_data["math_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students with a passing reading score (70 or greater)
pct_std_pass_reading = (student_data.loc[student_data["reading_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = (student_data.loc[(student_data["math_score"] >= 70) & 
                                (student_data["reading_score"] >= 70)].count() / total_students)[1]

#Create a dataframe to hold the above results
ss_df = pd.DataFrame([{"Total Schools": total_schools,
                       "Total Students": total_students,           
                       "Total Budget": total_budget,
                       "Average Math Score":  avg_math_score,
                       "Average Reading Score":  avg_read_score,
                       "% Passing Math":  pct_std_pass_math * 100,
                       "% Passing Reading":  pct_std_pass_reading * 100,
                       "% Overall Passing":  overall_pass * 100}])

#Optional: give the displayed data cleaner formatting
ss_df["Total Students"] = ss_df["Total Students"].map("{:,}".format)
ss_df["Total Budget"] = ss_df["Total Budget"].map("${:.2f}".format)

#Display report
ss_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,65.172326


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [123]:
school_type_series = school_data.set_index(["school_name"])["type"] #can't do a group by here

student_count_series = merged_school_data_df.groupby(["school_name"]).count()["Student ID"]

total_school_budget_series = merged_school_data_df.groupby(["school_name"]).mean()["budget"]

per_student_budget = (total_school_budget_series/student_count_series)

avg_math_score = merged_school_data_df.groupby(["school_name"]).mean()["math_score"]

avg_reading_score = merged_school_data_df.groupby(["school_name"]).mean()["reading_score"]

math_passing_df = (merged_school_data_df.loc[merged_school_data_df["math_score"] >= 70]).groupby(["school_name"])["Student ID"].count() / student_count_series 

reading_passing_df = (merged_school_data_df.loc[merged_school_data_df["reading_score"] >= 70]).groupby(["school_name"])["Student ID"].count() / student_count_series 

overall_passing_df = (merged_school_data_df.loc[(merged_school_data_df["math_score"] >= 70) & (merged_school_data_df["reading_score"] >= 70)]).groupby(["school_name"])["Student ID"].count() / student_count_series 


dataset = {"School Type"   : school_type_series,
           "Student Counts": student_count_series,
           "Total School Budget": total_school_budget_series,
           "Per Student Budget": per_student_budget,
           "Average Math Score" : avg_math_score,
           "Average Reading Score" : avg_reading_score,
           "% Passing Math" : math_passing_df,
           "% Passing Reading" : reading_passing_df,
           "% Overall Passing" : overall_passing_df}

                   
df = pd.DataFrame(dataset)

df["Student Counts"] = df["Student Counts"].map("{:,}".format)
df["Average Math Score"] = df["Average Math Score"].map("{:.2f}".format)
df["Average Reading Score"] = df["Average Reading Score"].map("{:.2f}".format)
df["Total School Budget"] = df["Total School Budget"].map("${:,.2f}".format)
df["Per Student Budget"] = df["Per Student Budget"].map("${:,.2f}".format)
df["% Passing Math"] = df["% Passing Math"].map("{:.2%}".format)
df["% Passing Reading"] = df["% Passing Reading"].map("{:.2%}".format)
df["% Overall Passing"] = df["% Overall Passing"].map("{:.2%}".format)

df

,School Type,Student Counts,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type