### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#type(merged_school_data_df)

pandas.core.frame.DataFrame

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools  = school_data_complete["School ID"].value_counts().count()

#Calculate the total number of students
total_students = school_data_complete["Student ID"].count()

#Calculate the total budget
total_budget = school_data["budget"].sum()

#Calculate the average math score
avg_math_score = student_data["math_score"].mean()

#Calculate the average reading score
avg_read_score = student_data["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
pct_std_pass_math = (student_data.loc[student_data["math_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students with a passing reading score (70 or greater)
pct_std_pass_reading = (student_data.loc[student_data["reading_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = (student_data.loc[(student_data["math_score"] >= 70) & 
                                (student_data["reading_score"] >= 70)].count() / total_students)[1]

#Create a dataframe to hold the above results
ss_df = pd.DataFrame([{"Total Schools": total_schools,
                       "Total Students": total_students,           
                       "Total Budget": total_budget,
                       "Average Math Score":  avg_math_score,
                       "Average Reading Score":  avg_read_score,
                       "% Passing Math":  pct_std_pass_math * 100,
                       "% Passing Reading":  pct_std_pass_reading * 100,
                       "% Overall Passing":  overall_pass * 100}])

#Optional: give the displayed data cleaner formatting
ss_df["Total Students"] = ss_df["Total Students"].map("{:,}".format)
ss_df["Total Budget"] = ss_df["Total Budget"].map("${:.2f}".format)

#Display report
ss_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,65.172326


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [41]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [48]:
school_data_complete['type'].unique()

array(['District', 'Charter'], dtype=object)

In [46]:
school_data_complete.groupby(['school_name'])

In [74]:
# Determine the School Type
per_school_types = school_data_complete.set_index(["school_name"])["type"]
# per_school_types
# # Calculate the total student count.
per_school_counts = school_data_complete["school_name"].value_counts()
# per_school_counts
# # Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
# per_school_budget
# # Calculate the per capita spending.
# per_school_capita = per_school_budget / per_school_counts

dataset = {"School Type" : per_school_types,
           "Student Counts": per_school_counts}

df = pd.DataFrame(per_school_types)

df['count'] = per_school_counts
df.reset_index()

              school_name      type  count
0       Huang High School  District   2917
1       Huang High School  District   2917
2       Huang High School  District   2917
3       Huang High School  District   2917
4       Huang High School  District   2917
...                   ...       ...    ...
39165  Thomas High School   Charter   1635
39166  Thomas High School   Charter   1635
39167  Thomas High School   Charter   1635
39168  Thomas High School   Charter   1635
39169  Thomas High School   Charter   1635

[39170 rows x 3 columns]

In [62]:

#school_data_complete_copy_df = merged_school_data_df[["school_name", "type","Student ID", "budget","math_score","reading_score"]].copy()

#grouped_school_data = school_data_complete_copy_df.groupby(['school_name','type','budget'])

school_grp = merged_school_data_df.groupby(['school_name'])

school_types_series = school_grp['type'].unique() #series
print(school_types_series)



From Ritesh Sawant to Everyone:  12:04 PM
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts



#student_counts_series = school_grp['Student ID'].count() # series

#total_school_budgest_series = school_grp["budget"].unique()  #series

#per_student_budgets_series = school_grp["budget"].unique() / school_grp['Student ID'].count()

#average_math_scores_series = school_grp["math_score"].mean()

#average_reading_scores_series = school_grp["reading_score"].mean()

#pct_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_counts_series 

#pct_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_counts_series 

#pct_overall_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_counts_series 

#by_school.head()


dataset = {"School Type" : school_types_series,
           "Student Counts": student_counts_series}

df = pd.DataFrame(dataset)

df

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

                      School Type  Student Counts
school_name
Bailey High School     [District]            4976
Cabrera High School     [Charter]            1858
Figueroa High School   [District]            2949
Ford High School       [District]            2739
Griffin High School     [Charter]            1468
Hernandez High School  [District]            4635
Holden High School      [Charter]             427
Huang High School      [District]            2917
Johnson High School    [District]            4761
Pena High School        [Charter]             962
Rodriguez High School  [District]            3999
Shelton High School     [Charter]            1761
Thomas High School      [Charter]            1635
Wilson High School      [Charter]            2283
Wright High School      [Charter]            1800

In [52]:
df_1 = df.reset_index()

In [56]:
df_1['School Type'] = df_1['School Type'].apply(lambda x: x[0])

In [57]:
df_1

              school_name School Type  Student Counts
0      Bailey High School    District            4976
1     Cabrera High School     Charter            1858
2    Figueroa High School    District            2949
3        Ford High School    District            2739
4     Griffin High School     Charter            1468
5   Hernandez High School    District            4635
6      Holden High School     Charter             427
7       Huang High School    District            2917
8     Johnson High School    District            4761
9        Pena High School     Charter             962
10  Rodriguez High School    District            3999
11    Shelton High School     Charter            1761
12     Thomas High School     Charter            1635
13     Wilson High School     Charter            2283
14     Wright High School     Charter            1800

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type