### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#type(merged_school_data_df)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
#Calculate the total number of schools
total_schools  = merged_school_data_df["School ID"].value_counts().count()

#Calculate the total number of students
total_students = merged_school_data_df["Student ID"].count()

#Calculate the total budget
total_budget = school_data["budget"].sum()

#Calculate the average math score
avg_math_score = student_data["math_score"].mean()

#Calculate the average reading score
avg_read_score = student_data["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
pct_std_pass_math = (student_data.loc[student_data["math_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students with a passing reading score (70 or greater)
pct_std_pass_reading = (student_data.loc[student_data["reading_score"] >= 70].count() / total_students)[1]

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = (student_data.loc[(student_data["math_score"] >= 70) & 
                                (student_data["reading_score"] >= 70)].count() / total_students)[1]

#Create a dataframe to hold the above results
ss_df = pd.DataFrame([{"Total Schools": total_schools,
                       "Total Students": total_students,           
                       "Total Budget": total_budget,
                       "Average Math Score":  avg_math_score,
                       "Average Reading Score":  avg_read_score,
                       "% Passing Math":  pct_std_pass_math * 100,
                       "% Passing Reading":  pct_std_pass_reading * 100,
                       "% Overall Passing":  overall_pass * 100}])

#Optional: give the displayed data cleaner formatting
ss_df["Total Students"] = ss_df["Total Students"].map("{:,}".format)
ss_df["Total Budget"] = ss_df["Total Budget"].map("${:.2f}".format)

#Display report
ss_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,65.172326


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [51]:
school_type_series = school_data.set_index(["school_name"])["type"]

student_count_series = merged_school_data_df.groupby(["school_name"]).count()["Student ID"]

total_school_budget_series = merged_school_data_df.groupby(["school_name"]).mean()["budget"]

per_student_budget = total_school_budget_series/student_count_series

avg_math_score = merged_school_data_df.groupby(["school_name"]).mean()["math_score"]

avg_reading_score = merged_school_data_df.groupby(["school_name"]).mean()["reading_score"]

avg_reading_score = merged_school_data_df.groupby(["school_name"]).count()["reading_score"]

math_passing_df = (merged_school_data_df.loc[merged_school_data_df["math_score"] >= 70]).groupby(["school_name"])["Student ID"].count() / student_count_series 

reading_passing_df = (merged_school_data_df.loc[merged_school_data_df["reading_score"] >= 70]).groupby(["school_name"])["Student ID"].count() / student_count_series 

overall_passing_df = (merged_school_data_df.loc[(merged_school_data_df["math_score"] >= 70) & (merged_school_data_df["reading_score"] >= 70)]).groupby(["school_name"])["Student ID"].count() / student_count_series 

dataset = {"School Type"   : school_type_series,
           "Student Counts": student_count_series,
           "Total School Budget": total_school_budget_series,
           "Per Student Budget": per_student_budget,
           "Average Math Score" : avg_math_score,
           "Average Reading Score" : avg_reading_score,
           "% Passing Math" : math_passing_df,
           "% Passing Reading" : reading_passing_df,
           "% Overall Passing" : overall_passing_df}

df = pd.DataFrame(dataset)

df

,School Type,Student Counts,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,"(Bailey High School, [District, District, Dist...",4976,3124928.0,628.0,77.048432,4976,0.666801,0.819333,0.546423
Cabrera High School,"(Cabrera High School, [Charter, Charter, Chart...",1858,1081356.0,582.0,83.061895,1858,0.941335,0.970398,0.913348
Figueroa High School,"(Figueroa High School, [District, District, Di...",2949,1884411.0,639.0,76.711767,2949,0.659885,0.807392,0.532045
Ford High School,"(Ford High School, [District, District, Distri...",2739,1763916.0,644.0,77.102592,2739,0.683096,0.792990,0.542899
Griffin High School,"(Griffin High School, [Charter, Charter, Chart...",1468,917500.0,625.0,83.351499,1468,0.933924,0.971390,0.905995
Hernandez High School,"(Hernandez High School, [District, District, D...",4635,3022020.0,652.0,77.289752,4635,0.667530,0.808630,0.535275
Holden High School,"(Holden High School, [Charter, Charter, Charte...",427,248087.0,581.0,83.803279,427,0.925059,0.962529,0.892272
Huang High School,"(Huang High School, [District, District, Distr...",2917,1910635.0,655.0,76.629414,2917,0.656839,0.813164,0.535139
Johnson High School,"(Johnson High School, [District, District, Dis...",4761,3094650.0,650.0,77.072464,4761,0.660576,0.812224,0.535392
Pena High School,"(Pena High School, [Charter, Charter, Charter,...",962,585858.0,609.0,83.839917,962,0.945946,0.959459,0.905405
Rodriguez High School,"(Rodriguez High School, [District, District, D...",3999,2547363.0,637.0,76.842711,3999,0.663666,0.802201,0.529882
Shelton High School,"(Shelton High School, [Charter, Charter, Chart...",1761,1056600.0,600.0,83.359455,1761,0.938671,0.958546,0.898921
Thomas High School,"(Thomas High School, [Charter, Charter, Charte...",1635,1043130.0,638.0,83.418349,1635,0.932722,0.973089,0.909480
Wilson High School,"(Wilson High School, [Charter, Charter, Charte...",2283,1319574.0,578.0,83.274201,2283,0.938677,0.965396,0.905826
Wright High School,"(Wright High School, [Charter, Charter, Charte...",1800,1049400.0,583.0,83.682222,1800,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type